.social-link{
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 30px;
    background-color: var(--light);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: center center;
            mask-position: center center;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    font-size: 0;
    color: transparent;
    transition: var(--great-transition);
    &--vk{
        -webkit-mask-image: url(../img/vk-icon.svg);
        mask-image: url(../img/vk-icon.svg);
    }
    &--instagram{
        -webkit-mask-image: url(../img/instagram-icon.svg);
        mask-image: url(../img/instagram-icon.svg);
    }
    &--telegram{
        -webkit-mask-image: url(../img/telegram-icon.svg);
        mask-image: url(../img/telegram-icon.svg);
    }

}

.btn{
    display: flex;
    width: fit-content;
    padding: 1rem 2rem;
    min-height: 5rem;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--light);
    text-align: center;
    box-sizing: border-box;
    transition: var(--great-transition);
    transform: scale(1);
    &:hover{
        text-decoration: none;
        background-color: var(--purple-hover);
    }
    &:active{
        transform: scale(0.98);
    }
}

h1, .h1{
    display: block;
    font-size: 5.2rem;
    line-height: 1.2;
}
h2, .h2{
    display: block;
    font-size: 4.2rem;
    line-height: 1.2;
}
h3, .h3{
    display: block;
    font-size: 3.2rem;
    line-height: 1.2;
}
h4, .h4{
    display: block;
    font-size: 2.8rem;
    line-height: 1.2;
}
h5, .h5{
    display: block;
    font-size: 2.2rem;
    line-height: 1.2;
}
h6, .h6{
    display: block;
    font-size: 1.8rem;
    line-height: 1.2;
}
.page-title{
    margin-bottom: 4rem;
}
.section-title{
    display: block;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #404a44;
    font-weight: 300;
}

.subtitle{
    display: block;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 300;
}
// ----------hall-section---------------
.f-img-box{
    position: relative;
    margin: 0 auto;
    max-width: 33.6rem;
    width: 47%;
    .f-img-1{
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        z-index: 4;
        transition: all 700ms ease-in-out;
        transform: scale(0.5);
        opacity: 0;
    }
    .f-img-2{
        position: absolute;
        top: 10%;
        right: -42%;
        width: 70%;
        height: auto;
        z-index: 3;
        transition: all 700ms ease-in-out 400ms;
        transform: translateX(16%);
        opacity: 0;
    }
    .f-img-3{
        position: absolute;
        bottom: -9%;
        right: -63%;
        width: 54%;
        height: auto;
        z-index: 2;
        transition: all 700ms ease-in-out 700ms;
        transform: translateX(36%);
        opacity: 0;
    }
    .f-img-4{
        position: absolute;
        bottom: 10%;
        left: -38%;
        width: 73%;
        height: auto;
        z-index: 2;
        transition: all 700ms ease-in-out 1000ms;
        transform: translateX(-16%);
        opacity: 0;
    }
    .f-img-5{
        position: absolute;
        bottom: -16%;
        right: -44%;
        width: 77%;
        height: auto;
        z-index: 2;
        transition: all 700ms ease-in-out 700ms;
        transform: translateX(36%);
        opacity: 0;
    }
    .f-img-6{
        position: absolute;
        bottom: -8%;
        left: -35%;
        width: 37%;
        height: auto;
        z-index: 2;
        transition: all 700ms ease-in-out 1100ms;
        transform: translateX(-16%);
        opacity: 0;
    }
    &.start-animation{
        .f-img-1{
            transform: scale(1);
            opacity: 1;
        }
        .f-img-2{
            transform: translateX(0);
            opacity: 1;
        }
        .f-img-3{
            transform: translateX(0);
            opacity: 1;
        }
        .f-img-4{
            transform: translateX(0);
            opacity:1;
        }
        .f-img-5{
            transform: translateX(0);
            opacity:1;
        }
        .f-img-6{
            transform: translateX(0);
            opacity:1;
        }
    }
}

.hall__phone-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hall__phone{
    font-size: 26px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--black);
    // font-family: 'RobotoCondensed', sans-serif;
    font-family: 'GOST type B', sans-serif;
}

.hall-section{
    position: relative;
    padding-bottom: 14rem;
    overflow: hidden;

    .inner{
        z-index: 1;
    }
    .hall-section__decor-img {
        position: absolute;
        display: block;
        height: 100%;
        opacity: 0.4;
        &--left{
            top: 0;
            left: 0;
            transform: translateX(-63%);
        }
        &--right{
            top: 0;
            right: 0;
            transform: translateX(34%);

        }
    }
    .hall__phone-box{
        margin-top: 6rem;
    }
    .btn{
        margin: 0 auto;
        margin-top: 5rem;
    }
    .page-title{
        margin-top: 4rem;
        text-align: center;
        text-transform: uppercase;
        color: #404a44;
        font-weight: 300;
    }
}

.top_info_box{
    background-color: #f4ead6;
    width: 100%;
    max-width: unset;
    padding: 40px 3%;
}

// ------------------about-box-------------------------

.about-box{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    .about-box__left-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        max-width: 570px;
        .btn{
            margin-left: 0;
            margin-top: 3rem;
        }
    }
    .about-box__right-col{
        display: flex;
        align-items: center;
        width: 50%;
        padding-right: 100px;
        box-sizing: border-box;

    }
    p{
        font-size: 2.1rem;
    }
    .subtitle{
        font-size: 2.5rem;
    }
}

.ld-img-box{
    position: relative;
    width: fit-content;
    .ld-img-1{
        position: absolute;
        bottom: -18%;
        left: -6%;
        width: 46%;
        height: auto;
    }
    .ld-img-2{
        position: absolute;
        bottom: 43%;
        right: -22%;
        width: 108%;
        height: auto;
        transform: translateY(50%);
    }
    .ld-img{
        max-width: 450px;
    }
}
.ld-img{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
}
.lg-img-wrap{
    padding-bottom: 4rem;
}
.about-page{
    .ld-img-box{
        margin-bottom: 10rem;
        width: 70%;
        max-width: 34rem;
        .ld-img {
            max-width: 340px;
        }
    }
    p{
        margin: 1.5rem 0;
    }
    h2{
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
}
.about-content{
    display: flex;
    align-items: center;
    .about-content__left-col{
        width: 45%;
    }
    .about-content__right-col{
        width: 55%;
    }
    p{
        // font-size: 1.8rem;
        font-size: 19px;
    }
}

.teams{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
}
.teams-item{
    .teams-item__img{
        display: block;
        width: 100%;
        aspect-ratio: 1/1.5;
        border-radius: 10px;
        object-fit: cover;
        object-position: center center;
        box-shadow: 7px 7px 12px 0px rgb(185, 179, 179);;
    }
    .teams-item__name{
        display: block;
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3;
    }
}
.content-page{
    p, ul, ol{
        margin: 1.5rem 0;
    }
    ol, ul{
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
}
.ex-slider-box{
    position: relative;
    margin-top: 30px;
    .swiper-pagination {
        position: relative;
        margin-top: 2rem;
    }
}
.ex-slider{
    max-height: 700px;
    .lightgallery{
        display: block;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: auto;
    }
    .swiper-button-next, .swiper-button-prev{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--purple-hover);
        transition: var(--great-transition);
        opacity: 0.7;
        &::after{
            font-size: 25px;
            font-weight: bold;
            color: var(--light);
        }
        &:hover{
            opacity: 1;
        }
    }
}
.link-to{
    display: block;
    width: fit-content;
    font-size: 1.6rem;
    text-decoration: underline;
    color: var(--black);
}
.uni_breadcrumbs{
    span, a, i{
        font-size: 1.4rem;
        color: var(--grey);
    }
}

.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    list-style-type: none;
    li{
        display: flex;
        gap: 5px;
        span, a, i{
            font-size: 1.4rem;
            color: var(--grey);
        }
    }
}

.pagination_line {
    width:100%;
    display: flex;
}

.pagination{
    width:100%;
    display: flex;

    padding: 0;
    margin: 0;
    margin-top: 4rem;
    list-style-type: none;

    .pagination__nav-links {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .pagination__next,
    .pagination__back {
        line-height: 40px;
        color: var(--black);
    }

        a.pagination__numbers, span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            border-radius: 5px;
            background-color: var(--border);
            font-weight: 500;
            color: var(--black);
            transition: var(--great-transition);
        }
        a.pagination__numbers{
            &:hover{
                text-decoration: none;
            }
            &.current{
                background-color: var(--purple);
                color: var(--light);
            }
        }

}

.table{
    width: 100%;
    box-sizing: border-box;
    th{
        background-color: rgba(106, 133, 116, 0.5);
    }
    td, th{
        padding: 1rem;
        border: 1px solid var(--khaki);
        text-align: left;
        box-sizing: border-box;
    }

}
.table-box{
    position: relative;
    overflow: auto;
}

.work-stages-list{
    list-style-type: none;
	counter-reset: num;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.work-stages-list-item{
    position: relative;
    .work-stages-list-item__caption{
        display: block;
        font-size: 2.7rem;
        text-transform: uppercase;
        font-weight: 400;
        color: var(--khaki);
    }
    p{
        margin: 0;
        font-size: 19px;
    }
    &::before {
        content: counter(num);
        counter-increment: num;
        position: absolute;
        top: 0px;
        left: -60px;
        width: 50px;
        font-weight: 400;
        color: var(--khaki);
        text-align: center;
        font-size: 5rem;
        line-height: 1.3;

    }
}
.year{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    &::before{
        content: '';
        width: 20px;
        height: 20px;
        background-color: var(--khaki);
        mask-image: url(../img/clock-icon.svg);
        mask-size: contain;
        mask-position: center center;
        mask-repeat: no-repeat;
    }
}
.presentation_file{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 500;
    color: var(--purple-hover);
    &::before{
        content: '';
        width: 23px;
        height: 25px;
        background-color: var(--purple-hover);
        mask-image: url(../img/file-icon.svg);
        mask-size: contain;
        mask-position: center center;
        mask-repeat: no-repeat;
    }
}

a{
    color: var( --purple-hover);
}
