@font-face {
	font-family: 'GOST type B';
	src: url('../fonts/GOSTB/GOST-2304-81typeB.eot');
	src: local('../fonts/GOSTB/GOST 2.304-81 type B'), local('GOST-2.304-81typeB'),
		url('../fonts/GOSTB/GOST-2304-81typeB.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GOSTB/GOST-2304-81typeB.woff') format('woff'),
		url('../fonts/GOSTB/GOST-2304-81typeB.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Light.eot);
    src: url(../fonts/Montserrat/Montserrat-Light.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Montserrat/Montserrat-Light.otf) format('otf'),
         url(../fonts/Montserrat/Montserrat-Light.svg#Montserrat-Light) format('svg'),
         url(../fonts/Montserrat/Montserrat-Light.ttf) format('truetype'),
         url(../fonts/Montserrat/Montserrat-Light.woff) format('woff'),
         url(../fonts/Montserrat/Montserrat-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.eot);
    src: url(../fonts/Montserrat/Montserrat-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Montserrat/Montserrat-Regular.otf) format('otf'),
         url(../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular) format('svg'),
         url(../fonts/Montserrat/Montserrat-Regular.ttf) format('truetype'),
         url(../fonts/Montserrat/Montserrat-Regular.woff) format('woff'),
         url(../fonts/Montserrat/Montserrat-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Medium.eot);
    src: url(../fonts/Montserrat/Montserrat-Medium.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Montserrat/Montserrat-Medium.otf) format('otf'),
         url(../fonts/Montserrat/Montserrat-Medium.svg#Montserrat-Medium) format('svg'),
         url(../fonts/Montserrat/Montserrat-Medium.ttf) format('truetype'),
         url(../fonts/Montserrat/Montserrat-Medium.woff) format('woff'),
         url(../fonts/Montserrat/Montserrat-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-SemiBold.eot);
    src: url(../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Montserrat/Montserrat-SemiBold.otf) format('otf'),
         url(../fonts/Montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold) format('svg'),
         url(../fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype'),
         url(../fonts/Montserrat/Montserrat-SemiBold.woff) format('woff'),
         url(../fonts/Montserrat/Montserrat-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Bold.eot);
    src: url(../fonts/Montserrat/Montserrat-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Montserrat/Montserrat-Bold.otf) format('otf'),
         url(../fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold) format('svg'),
         url(../fonts/Montserrat/Montserrat-Bold.ttf) format('truetype'),
         url(../fonts/Montserrat/Montserrat-Bold.woff) format('woff'),
         url(../fonts/Montserrat/Montserrat-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'lg';
    src: url("../fonts/lg/lg.woff2?io9a6k") format("woff2"),
     url("../fonts/lg//lg.ttf?io9a6k") format("truetype"),
     url("../fonts/lg//lg.woff?io9a6k") format("woff"),
     url("../fonts/lg//lg.svg?io9a6k#lg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'RobotoCondensed';
    src: url(../fonts/RobotoCondensed/RobotoCondensed-Regular.eot);
    src: url(../fonts/RobotoCondensed/RobotoCondensed-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/RobotoCondensed/RobotoCondensed-Regular.otf) format('otf'),
         url(../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf) format('truetype'),
         url(../fonts/RobotoCondensed/RobotoCondensed-Regular.svg#RobotoCondensed-Regular) format('svg'),
         url(../fonts/RobotoCondensed/RobotoCondensed-Regular.woff) format('woff'),
         url(../fonts/RobotoCondensed/RobotoCondensed-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }
