body{
    padding-top: 105px;
}
#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--khaki);
    padding: 1rem 0;
    box-sizing: border-box;
    z-index: 10;
    transition: var(--great-transition);
    &.header-fly{
        position: fixed;
        padding: 0.5rem 0;
        .logo {
            max-width: 6rem;
        }
        .main-menu {
            max-width: 700px;
            li {
                a{
                    font-size: 14px;
                }
            }
        }
        .header-contacts__phone-box {
            .header-contacts__phone {
                font-size: 14px;
            }
        }
    }
    .logo{
        position: relative;
        max-width: 15rem;
        z-index: 20;
        transition: var(--great-transition);
        img{
            display: block;
            width: 100%;
            height: auto;
            transition: var(--great-transition);
        }
    }
    .header-contacts{
        position: relative;
        z-index: 20;
    }
    .inner{
        display: flex;
        gap: 4rem;
        align-items: center;
        nav{
            display: flex;
            flex-grow: 1;
            justify-content: center;
            transition: var(--great-transition);
            .main-menu{
                max-width: 700px;
                flex-grow: 1;
            }
        }
    }
    &.show-menu{
        .burger-btn{
            span{
                opacity: 0;
            }
            &::before{
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
            }
            &::after{
                bottom: 50%;
                transform: translateY(50%) rotate(-45deg);
            }
        }
        nav{
            opacity: 1;
            visibility: visible;
        }
    }
}
.burger-btn{
    position: relative;
    display: none;
    width: 30px;
    height: 27px;
    background-color: transparent;
    span{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--light);
        transform: translateY(-50%);
        transition: var(--great-transition);
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--light);
        transition: var(--great-transition);
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--light);
        transition: var(--great-transition);
    }
}
.main-menu{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 800px;
    li{
        a{
            // font-size: 14px;
            font-size: 18px;
            color: var(--light);
            text-transform: uppercase;
            font-weight: 400;
        }
    }
}
.header-contacts{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header-contacts__phone-box{
    line-height: 1.5;
    .header-contacts__phone{
        display: block;
        font-size: 18px;
        color: var(--light);
        font-weight: 400;
    }
}



// ===================================
@media screen and (max-width: 940px){
    .burger-btn{
        display: block;
        z-index: 20;
    }
    #header {
        .header-contacts{
            margin-left: auto;
        }
        nav{
            // display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: var(--khaki);
            padding: 140px 20px 20px 20px;
            overflow: auto;
            opacity: 0;
            visibility: hidden;
            box-sizing: border-box;
            .main-menu{
                flex-direction: column;
                justify-content:  flex-start;
                text-align: center;
                gap: 3rem;
                li{
                    a{
                        // font-size: 2rem;
                        font-size: 18px !important;
                    }
                }
            }
        }

    }
}
@media screen and (max-width: 440px){
    #header {
        .inner{
            gap: 2rem;
        }
        .logo {
            position: relative;
            max-width: 13rem;
            z-index: 20;
        }
    }
    .header-contacts__phone-box{
        display: none;
    }
}
