@media screen and (max-width: 1100px){
    .teams-item {
        .teams-item__name {
            font-size: 1.6rem;
        }
    }
}
@media screen and (max-width: 999px){
    .hall-section {
        .hall-section__decor-img {
            &--left {
                transform: translateX(-70%);
            }
            &--right{
                transform: translateX(55%);
            }
        }

    }
    .ex-slider-box{
        .swiper-button-next, .swiper-button-prev{
            display: none;
        }
    }
}
@media screen and (max-width: 880px){
    .hall-section {
        padding-bottom: 6rem;
    }
    .about-box {
        display: flex;
        gap: 10rem;
        margin-top: 100px;
        flex-direction: column;
        .section-title{
            text-align: center;
        }
        .about-box__left-col{
            order: 2;
            width: 100%;
            max-width: 100%;
        }
        .about-box__right-col{
            order: 1;
            width: 100%;
            padding-right: 0;
            justify-content: center;
            .ld-img-box{
                width: 70%;
                max-width: 420px;
            }
        }
    }
    .teams {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px){
    :root{
        font-size: 9px;
    }
    h1, .h1{
        font-size: 4.8rem;
    }
    h2, .h2 {
        font-size: 4rem;
    }
    #main {
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
}
@media screen and (max-width: 460px){
    h1, .h1{
        font-size: 3rem;
    }
    h2, .h2 {
        font-size: 2.8rem;
    }
    .about-box .subtitle {
        font-size: 2rem;
    }
    .about-box p {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 410px){
    .teams {
        grid-template-columns: 1fr
    }
}
